nav ul {
    font-size: 48px;
body 
    background-color: lavender;
   
    }
    nav {
        display:left;
        justify-content: center;
        margin-top: 25%;
      }
      
      button {
        width: 250px;
        margin: 0 .5%;
        font-size: 200%;
        color: #13293d;
        background-color: #fff;
        border: 3px solid #13293d;
      }
      
      /* The user's cursor is positioned over the element */
      button:hover {
        background-color: #772014;
        color: #fff;
      }
      
      /* The user is actively pressing down on the element */
      button:active {
        font-size: 180%;
        box-shadow: 0 0 10px #000 inset;
      }
      
      /* The element is currently in focus, either by tabbing to or clicking on it */
      button:focus {
        outline: 10%;
        border-color: #8ac4ff;
      }
      article ul {
        margin-left: 10%;
        font-size: medium;
        list-style: horizontal;
      }
      div {
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 20px;
      }
      .div1 {
        width: 300px;
        height: 100px;
        border: 1px solid blue;
      }
      
      .div2 {
        width: 300px;
        height: 100px;
        padding: 50px;
        border: 1px solid red;
      }
      .flex-container {
        display: flex;
        flex-flow: row wrap;
        background-color: DodgerBlue;
      }
      
      .flex-container > div {
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
      }
